body {
	margin: 0;
	background : #232323;
	font-family: Montserrat,Avenir,sans-serif;
}

.square{
	cursor: pointer;
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;  
	border-radius: 20%;
	transition: background .6s;
	-webkit-transition: background .6s;
	-moz-transition: background .6s;
}

.container{
	margin: 20px auto;
	width: 600px;
}


h1 {
	line-height: 1.1;
	font-weight: normal;
	color: white;
	text-align: center;
	background-color: steelblue;
	margin:0;
	text-transform: uppercase;
	padding: 20px 0;
}

#stripe{
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}

.mode {
	margin: 0;
}

.mode.selected{
	display: inline-block;
	background: steelblue;
	color: white; 
}

#colorDisplay{
	font-size: 200%
}
button{
	cursor: pointer;
	outline: none;
	font-family: Montserrat,Avenir,sans-serif;
	border: 0;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color:steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
}

button:hover{
	background: steelblue;
	color: white;
}

#message{
	display: inline-block;
	width: 20%;
}